.va-body {

  .va-container {

    .va-affiliate-networks-table {

      .va-affiliate-network-cell-operator_based,
      .va-affiliate-network-cell-auto,
      .va-affiliate-network-cell-auto_payout {
        text-align: center;
      }

      .va-affiliate-network-cell-add {
        text-align: center;
        width: 6rem;
      }
    }
  }
}