.va-body {
  margin: 0;
  padding: 70px 0 0 0;

  .va-container {

    .va-table {

      tbody {

        tr {

          td {
            border: none;
            vertical-align: middle;
            padding: 5px;
          }
        }
      }
    }
  }

  .va-flash-message {
    color: @black;
    font-weight: bolder;
  }
}