.va-body {

  .va-container {

    .va-offers-controls {

      .va-pagination {

        .pagination {
//          vertical-align: bottom;
          margin: 0;
        }
      }
    }

    .va-offers {
      overflow: auto;
      max-height: 768px;

      .va-offers-table {

        .va-offer-cell-name {
          //width: 20rem;
          //min-width: 10rem;
        }

        .va-offer-cell-source-name {
          //width: 20rem;
        }

        .va-offer-cell-platforms {
          //width: 15rem;
        }

        .va-offer-cell-preview-image {
          //width: 5rem;

          img {
            width: 5rem;
            height: 5rem;
          }
        }

        .va-offer-cell-preview-url {
          //width: 10rem;
        }

        .va-offer-cell-country {
          //width: 10rem;
        }

        .va-offer-cell-payout {
          //width: 5rem;
          text-align: right;
        }

        .va-offer-cell-url {
          max-width: 300px;
          overflow: auto;
        }

        .va-offer-cell-creatives_url {
          max-width: 300px;
          overflow: auto;
        }

        .va-offer-cell-add {
          text-align: center;
          //width: 7rem;

          a {
            //width: 7rem;
          }
        }
      }
    }
  }
}