.va-body {

  .va-container {

    .va-offer {
      overflow: visible;
      max-width: 1280px;
      margin: 20px auto 20px;

      h4 {
        font-weight: bolder;
      }

      .va-offer-delete-form, .va-offer-save-form {
        text-align: right;
      }

      .va-offer-preview-image {
        width: 64px;
      }

      @media screen and (min-width: 992px) {
        padding: 10px;
        max-height: 768px;
      }
    }
  }
}